<div *ngIf="addEventForm" class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Create Events</h3>
        <form [formGroup]="addEventForm" (ngSubmit)="addEventForm.valid && handleSubmit()">
            <div class="form-group">
                <label for="eventName"> Event Name</label>
                <input type="text" 
                id="eventName" 
                class="form-control" 
                formControlName="eventName"
                placeholder="Whats your Event"
                [ngClass]="{'is-invalid': addEventForm.get('eventName').touched && addEventForm.get('eventName').invalid}">
                <span class="invalid-feedback">Event Name can't be blank.</span>
            </div>

            <div class="form-group">
                
                <label for="description"> Description</label>
                <textarea rows="4" cols="50" type="text" 
                id="description" 
                class="form-control" 
                formControlName="description"
                placeholder="What is it about ?"
                [ngClass]="{'is-invalid': addEventForm.get('description').touched && addEventForm.get('description').invalid}">
                </textarea><span class="invalid-feedback">This field can't be blank. </span>
                
            </div>
            <div class="form-group">
                <label for="location"> Location</label>
                <input type="text" 
                id="location" 
                class="form-control" 
                formControlName="location"
                placeholder="Where is it ?"
                [ngClass]="{'is-invalid': addEventForm.get('location').touched && addEventForm.get('location').invalid}">
                <span class="invalid-feedback">This field can't be blank. </span>
            </div>
            <div class="form-group">
                <label for="startdate"> Starts From</label>
                <input type="datetime-local" 
                id="startdate" 
                class="form-control" 
                formControlName="startdate"
                
                [ngClass]="{'is-invalid': addEventForm.get('startdate').touched && addEventForm.get('startdate').invalid}">
                <span class="invalid-feedback">This field can't be blank. </span>
            </div>

            <div class="form-group">
                <label for="enddate"> End At</label>
                <input type="datetime-local" 
                id="enddate" 
                class="form-control" 
                formControlName="enddate"
                
                [ngClass]="{'is-invalid': addEventForm.get('enddate').touched && addEventForm.get('enddate').invalid}">
                <span class="invalid-feedback">This field can't be blank. </span>
            </div>


            <div class="form-group">
                <label for="price"> Fee per person</label>
                <input type="text" 
                id="price" 
                class="form-control" 
                formControlName="price"
                placeholder="$USD"
                [ngClass]="{'is-invalid': addEventForm.get('price').touched && addEventForm.get('price').invalid}">
                <span class="invalid-feedback">This field can't be blank. </span>
            </div>
            <div class="form-group">
                <label for="imgUrl"> Image-Url</label>
                <input type="text" 
                id="imgUrl" 
                class="form-control" 
                formControlName="imgUrl"
                placeholder="paste image url here."
                [ngClass]="{'is-invalid': addEventForm.get('imgUrl').touched && addEventForm.get('imgUrl').invalid}">
                <span class="invalid-feedback">This field can't be blank. </span>
            </div>

            <button class="btn btn-warning btn-block btn-lg" [disabled]="addEventForm.invalid">Add</button>
            <button class="btn btn-warning btn-block btn-lg" (click)="clearEvent()" [disabled]="addEventForm.invalid">Clear</button>
        
        
        </form>
    </div>
</div>